<!DOCTYPE html>
<html>
<head>
	<title></title>
	{% load static %}
	<meta name="viewport" content="width=device-width, initial scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'guru/css/styles.css' %}">

	
</head>

<body>
	{% block body %}
	<nav class="navbar navbar-expand-sm bg-dark">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a href="#"><h4>DASHBOARD</h4></a>
			</li>
			<li class="nav-item ">
			<a class="nav-link" href="./data">Profile</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="./logout">Logout</a>
			</li>
		</ul>		
	</nav>
	<hr>

	<div class="container-fluid" id="dashContents">
		<div class="row content">
			<div class="col-md-3">

				<form name="teacherPanel" action="./dashboard" onsubmit="return validate()" method="POST">
					{% csrf_token %}
					<div class="card">
					  <div class="card-header">
					  	<input type="text" id="topic" name="topic">
					  </div>
					  <div class="card-body">
					  	<input type="text" id="assignment" name="assign">
					  </div>
					  <div class="card-footer">
					  	<input type="submit">
					  </div>
					</div>
				</form>

			</div>

			<div class="col-md-9">
				<div id="asignment">
					{% for i in teach %}
						<h5>Subject:</h5>
						{{i.Topic}}<br>
						<h5>Assignment</h5>
						{{i.Assignment}}<hr>
					
					{% endfor %}

				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
	var x=
	</script>


	



	<script type="text/javascript" src="{% static 'guru/js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'guru/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'guru/js/script.js' %}"></script>

	{% endblock %}
</body>
</html>




	